nav {
    position: fixed;
    top: 4rem;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #202c45f8;
    color: white;
    width: 20rem;
    z-index: 10;
    ul {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        li {
            margin: 0 2rem;
            padding: 1rem;

            border-bottom: 1px solid rgba(255,255,255,.1);
            cursor: pointer;
            &:hover{
            background: var(--highlight)
            }
        }
    }
    animation: showFromRight .3s;

}

@keyframes showFromRight {
    0% {
        right: -20rem;
    }
}
