.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.row-title > div {
  line-height: 14px;
}

.grand-total {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.25em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border-top: solid 1px  #e6e7e8;
  border-bottom: solid 1px  #e6e7e8;
}

.row-figure {
  font-weight: bold;
}
