body {
  font-size: 14px;
  font-family: BogleWeb, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.ui-button {
  background:none;
  color:inherit;
  border:none; 
  padding:0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.ui-button:focus {
  outline-color: black;
  outline-width: 1px;
}