.cardContainer {
  padding: 1rem;
  box-sizing: border-box;
  width: 33.33%;
  @media (max-width: 1000px) {
    width: 50%;
  }
  @media (max-width: 700px) {
    width: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    .title {
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      svg {
        cursor: pointer;
        color: var(--ink)
      }
    }
    path {
      stroke-width: 2px;
    }
    box-shadow: 0 0 11px -10px var(--ink);

  }
}
